// Styling for the masthead
header.masthead {
  text-align: center;
  color: #fff;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width:  100vw;
  height: 100vh;
  .intro-text {
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 100vh;
      padding-bottom: 100vh;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        
      }
    }
  }
}
